
/* for body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1, h2 {
    color: #333;
    text-align: center;
  }



/* Navbar Container */
.navbar-container {
    width: 100%;
    background-color: #394d48; /* Navbar background color */
}

/* Navbar */
.navbar {
    max-width: 1200px; /* Max width for content alignment */
    margin: 0 auto; /* Center navbar container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px; /* Padding for content spacing */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: transparent; /* No extra background on mobile */
}

/* Logo */
.navbar .logo {
    font-size: 28px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition on hover */
}

.navbar .logo:hover {
    color: #f1f1f1;
}



/* Username Section */
.navbar .user-info {
    margin-right: 15px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.navbar .user-info .username {
    margin-left: 5px;
}

.navbar .user-info strong {
    font-weight: bold;
    color: #f1f1f1;
}


/* blogs table css */

  table {
    padding: 20px;
    margin-top: 5%;
    width: 100%;
    border-collapse: collapse;
    background-color: #f8f9fa;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
  }

  th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #467446;
    color: white;
  }

  tr:hover {
    background-color: #f1f1f1;
  }

  button {
    padding: 6px 12px;
    color: white;
    background-color: #474040;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .deleteBtn {
    background-color: #fc1900;
  }
  .editBtn {
    background-color: #007bff;
  }

  .editBtn:hover {
    background-color: #0056b3;
  }
  button:hover {
    background-color: #394d48;
  }

/* blog form */
.form-container {
  max-width: 600px;
  margin: 3% auto 5px auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  background-color: #f9f9f9;
}

#blog-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

#blog-form input,
#blog-form textarea {
  display: block;
  margin: 10px 0;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

#submitBlogBtn {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
}

#submitBlogBtn:hover {
  background-color: #0056b3;
}
